.title {
  display: block;
  color: #3b3f4a;
  font-family: "open sans";
  font-weight: 600;
  font-size: 18px;
  display: flex;
  gap: 10px;
  &.dark {
    @extend .title;
    color: #cbd1da;
  }
}

.mobile_title {
  display: none;
}

@media (max-width: 800px) {
  .title {
    display: none;
  }

  .mobile_title {
    display: block;
    color: #3b3f4a;
    font-family: "open sans";
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 35px auto;
    gap: 10px;
    &.dark {
      color: #cbd1da;
    }
    .span {
      background: #3b3f4a;
      color: #cbd1da;
      border-radius: 4px;
      padding: 2px 6px;
    }
  }
}
