.modal_item {
  max-width: 300px;
  text-decoration: none;

  .row {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    .icon {
      margin-top: 5px;
    }
    .items {
      display: flex;
      flex-direction: column;
      gap: 2px;
      cursor: pointer;

      &:hover .p {
        color: #0b0b0b;
      }
      .h5 {
        position: relative;
        text-wrap: nowrap;
        font-weight: 700;
        color: #3b3f4a;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 2px;

        &.dark {
          color: #cbd1da;
        }
        .arrow {
          margin-left: 5px;
          position: absolute;
          top: 4px;
          width: 15px;
          height: 15px;
          color: #000000;
          opacity: 0;
          &.dark {
            color: #cbd1da;
          }
        }
      }
      .p {
        color: #8a929c;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 10px;

        &.dark {
          color: #8a929c;
        }
      }

      &:hover {
        .arrow {
          opacity: 1;
          transform: translateX(4px);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
