.congratulation_container {
  position: relative;
  overflow: hidden;
  .congratulation {
    padding: 40px;
    position: fixed;
    top: 270px;
    left: 50%;
    right: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 100;
    max-width: 508px;
    border-radius: 30px;
    background: url(/images/mailback.png), #12874e;
    background-size: contain;

    .message {
      display: flex;
      gap: 10px;
      flex-direction: column;
      color: #ffffff;
      align-items: center;
      font-family: "Nunito Sans";
      font-weight: 900;
      font-size: 20px;

      h1 {
        text-align: center;
      }
      p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
      }
      .ok_btn {
        padding: 15px 40px;
        background: #f6f9fc;
        border-radius: 5px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        cursor: pointer;
        text-align: center;
        color: #17181d;
        border: none;
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .congratulation_container {
    .congratulation {
      top: 310px;
    }
  }
}
