.container {
  max-width: 1140px;
  width: 100%;
  padding: 40px 15% 70px 15%;
  margin-inline: auto;

  .h1 {
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    color: #3d3f45;
    margin-bottom: 30px;
    &.dark {
      color: #c8cbd7;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &.dark {
      color: #dbdeeb;
    }
    .info {
      display: flex;
      flex-direction: column;

      font-size: 17px;
      gap: 25px;

      font-size: 17px;
      p {
        line-height: 28px;
      }
      h2 {
        margin-top: 20px;
      }
      .item {
        padding-left: 30px;
        display: flex;
        flex-direction: column;

        gap: 17px;
      }
      .terms_link {
        text-decoration: none;
        padding-inline: 3px;
        cursor: pointer;
      }
    }
    b {
      padding-right: 8px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    padding: 20px 5%;
  }
}
