.waiting_list {
  .nav {
    background: rgba(28, 30, 38, 0.42);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4%;
    height: 68px;
    width: 100%;
    position: absolute;
  }

  .main {
    position: relative;

    .hero {
      position: relative;
      display: flex;
      padding: 50px 4% 20px 4%;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .hero_left {
        font-weight: 900;
        font-size: 34px;
        line-height: 50px;
        font-family: "Nunito Sans";
        color: rgb(227, 223, 223);
        padding-top: 40px;

        flex-basis: 53%;
        .span {
          color: #1ab369;
          margin-right: 7px;
        }
      }

      .hero_right {
        margin-top: 40px;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      padding-top: 5px;
    }

    .description {
      max-width: 1140px;
      margin-inline: auto;
      padding: 30px 15% 40px 15%;

      .description_p {
        color: rgb(206, 202, 202);
        font-family: "IBM Plex Mono";

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;

        span {
          color: #16db7b;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .waiting_list {
    .hero {
      flex-wrap: wrap;

      .hero_left {
        text-align: center;
        font-size: 18px;
        flex-basis: 100% !important;
        margin-inline: auto;
        margin-top: 80px;
      }

      .hero_right {
        flex-basis: 100%;
        margin: 2px auto;
        padding-top: 10px;
        .img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .main {
    .description {
      padding: 10px 4% 40px 4% !important;

      .description_p {
        color: rgb(246, 242, 242) !important;
      }
    }
  }
}
