.qr_modal_overlay {
  height: 100vh;
  top: -40px;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  &.overlay {
    top: -800px;
    transition: all 0.5s ease-in-out;
  }
  .Qr_content {
    display: none;
    position: relative;

    height: 100vh;
    .qr_img {
      max-width: 100%;
      height: auto;
    }
    .icon {
      position: absolute;
      font-size: 40px;
      color: #5c6271;
      background: black;
      border-radius: 5px;
      top: 50px;
      right: 50px;
      padding: 5px;
      z-index: 1000;
      &:hover {
        color: rgb(33, 107, 33);
      }
    }
  }
}

@media (max-width: 768px) {
  .qr_modal_overlay {
    top: 5px;
    .Qr_content {
      .qr_img {
        width: 100%;
        height: auto;
      }
      .icon {
        top: 23px;
        right: 25px;
      }
    }
  }
}
