.get_free_button {
  display: flex;
  align-items: center;
  padding: 17px 20px;

  border: none;
  cursor: pointer;
  padding: 10px 15px;
  background: #159557;
  color: #ffffff;
  border-radius: 5px;
  width: fit-content;
  line-height: 24px;

  &:hover {
    background: #26d681;
  }
}
.link {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}

@media (max-width: 800px) {
  .get_free_button {
    width: 100%;
    padding: 15px 15px;
    margin-inline: auto;
    .link {
      margin-inline: auto;
    }
  }
}
