.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 4%;
  &.container2 {
    padding-right: 0px;
  }
  .title {
    font-family: "Gochi Hand";
    color: #159557;
    font-weight: 400;
    font-size: 52px;
    line-height: 63px;
    text-wrap: nowrap;
    text-align: center;
    transform: rotate(-0.32deg);
    margin-bottom: 20px;
  }
  .wrapper {
    display: flex;
    gap: 80px;
    align-items: center;
    .right,
    .left {
      flex-basis: 50%;
      .links {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 10px;
      }
      .dashb_img_mobile {
        display: none;
      }
      .crypto_span {
        position: relative;
        top: 36px;
        left: 177px;
        background: #3b3f4a;
        color: #cbd1da;
        border-radius: 4px;
        padding: 2px 6px;
        font-weight: 600;
        font-size: 18px;
      }
    }
    .left {
      align-items: center;
      margin-top: 15px;
    }
  }

  .crypto_span_mobile {
    display: none;
  }
}

@media (min-width: 1140px) {
  .container {
    padding: 30px 10%;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 40px 5% 0px 5%;
    &.container2 {
      padding-right: 5%;
    }
    .title {
      text-wrap: wrap;
      margin: 7px 0px 25px;
    }
    .wrapper {
      flex-wrap: wrap;
      gap: 5px;
      .left,
      .right {
        text-align: center;
        width: 100%;
        flex-basis: 100%;

        .links {
          flex-direction: column;
          justify-content: center;
        }
        .dashb_img_mobile {
          display: block;
        }
        .dashb_img_desktop {
          display: none;
        }
      }

      &.reverse {
        flex-wrap: wrap-reverse;
      }
      .left {
        margin-top: 0;
      }
    }
    .crypto_span_mobile {
      display: block;
      position: relative;
      top: 47px;
      left: 162px;
      background: #3b3f4a;
      color: #cbd1da;
      border-radius: 4px;
      padding: 2px 6px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
