.container {
  padding: 10px 0px 20px;

  .wrapper {
    display: flex;

    display: flex;
    align-items: center;
    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
    }
    .h2 {
      color: #3b3f4a;
      font-family: "Nunito Sans";
      font-weight: 600;
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 6px;
      &.dark {
        @extend .h2;
        color: #cbd1da;
      }
    }
    .p {
      font-weight: 900;
      font-size: 34px;
      line-height: 50px;
      color: #3b3f4a;
      font-family: Nunito Sans;
      &.dark {
        color: #cbd1da;
      }
    }

    .desc {
      font-size: 15px;
      color: #3b3f4a;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      &.dark {
        @extend .desc;
        color: #97a0ab;
      }
    }
    // .links {
    //   display: flex;
    //   gap: 10px;
    //   align-items: center;
    //   margin-top: 13px;

    // }
  }
}

@media (max-width: 800px) {
  .container {
    margin: -40px 0 0 0;
    .wrapper {
      display: flex;
      align-items: center;
      text-align: center;
      text-align: center;

      .h2 {
        display: none;
      }
      .links {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
