.send_gift {
  padding: 2px 4% 20px 4%;
  max-width: 515px;
  margin: 25px auto;
  .form {
    gap: 25px;
    .profile {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .label {
        .input {
          display: none;
        }
      }
      .name {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .text {
        text-align: center;
        max-width: 515px;
      }
    }

    .currency_container {
      max-width: 515px;
      margin-inline: auto;
      padding-bottom: 20px;

      border-bottom: 1px solid #d8dee8;

      .currency_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #3b3f4a;
        box-shadow: 0px 3px 10px rgba(64, 55, 98, 0.1);

        margin: 25px auto;
        border-radius: 10px;
        height: 68px;
        font-family: "Open Sans";
        padding: 10px 20px;
        .currency {
          display: flex;

          color: #d8dee8;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          text-transform: capitalize;
          gap: 10px;
          .span2 {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #d8dee8;
          }
        }
        .icon_container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          color: #d8dee8;
          .icon {
            display: flex;
            align-items: center;
            width: 20px;
            height: 20px;
            color: #d8dee8;
          }
        }
      }
    }
    .amount {
      font-family: "Open Sans";
      margin: 25px auto;
      display: flex;

      flex-direction: column;
      max-width: 515px;
      background: #ffffff;
      border: 1px solid #cbd1da;
      box-shadow: 0px 3px 10px #4037621a;
      border-radius: 10px;
      padding: 20px;

      .label {
        font-weight: 600;
        color: #17181d;

        font-size: 14px;
        span {
          color: red;
        }
      }
      .input_field {
        background: #ffffff;
        margin: 10px 0px;
        color: #3b3f4a;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;

        padding: 15px 13px;
        outline: none;
        border: 1.5px solid #d8dee8;
        border-radius: 10px;
      }

      .note {
        display: flex;
        flex-direction: column;

        gap: 10px;
        overflow: hidden;
        margin-top: 15px;
        color: #191c2d;
        .note_container {
          display: flex;
          gap: 10px;
          .custom_checkbox {
            display: inline-block;
            position: relative;
            cursor: pointer;
            border: 1.5px solid #d8dee8;
            border-radius: 8px;
            width: 30px;
            height: 30px;
            input[type="checkbox"] {
              position: absolute;
              visibility: hidden;
              cursor: pointer;
            }
            .checkmark {
              position: absolute;
              top: 0;
              right: 0;
              display: flex;
              align-items: center;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: 18px;
              border-radius: 8px;
              background: #159557;
            }
          }

          // input[type="checkbox"]:checked {
          //   &.textarea {
          //     display: none;
          //   }
          // }

          .label {
            font-weight: 600;
            color: #17181d;
            display: flex;
            align-items: center;
            font-size: 14px;
            text-wrap: nowrap;
          }
        }
        .textarea {
          border: 1.5px solid #d8dee8;
          padding: 10px 10px;
          display: none;
          outline: none;
          max-width: 500px;
          border: 1.5px solid #d8dee8;
          border-radius: 10px;
          background: #ffffff;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          box-shadow: 0px 3px 10px rgba(64, 55, 98, 0.1);
          border-radius: 10px;
          color: #1a1c2c;

          &::placeholder {
            margin-top: 10px;
          }
          &.check {
            display: block;
          }
        }
      }
    }

    .email_fields {
      max-width: 515px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin: 25px auto;
      color: #17181d;
      label {
        font-weight: 600;
        color: #17181d;

        font-size: 14px;
        span {
          color: red;
        }
      }
      .text {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #5c6271;
      }

      .input_field {
        background: #ffffff;

        color: #3b3f4a;
        margin-inline: 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        padding: 15px 13px;
        outline: none;
        border: 1.5px solid #d8dee8;
        border-radius: 10px;
      }
    }
    .name_fields {
      @extend .email_fields;
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 25px auto;
      padding: 10px 38px;
      background: #cbd1da;
      border: 1px solid #cbd1da;
      gap: 10px;
      border-radius: 10px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #ffffff;
      cursor: pointer;
      &.active {
        @extend .btn;
        background: #159557;
      }
    }
  }
}
